.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapperForFooter{
    height: 100%;
    flex: 1 0 auto;
}

.header{
    height: 100px;
    border: 1px solid black;
}

.name{
    margin: 32px auto;
    text-align: center;
}

.loginBlock img{
    width: 100%;
}

.loginBlock button{
    background: black;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    margin: 28px auto;
}

.mainText{
    font-size: 23px;
}

.content{
    flex: 1 0 auto;
    height: 700px;
    margin: 50px auto !important;
    padding: 10px;
}

.textBack{
    font-size: 20px;
    margin-left: 10px;
}

.footer{
    height: 40px;
    border: 1px solid black;
    flex: 1 0 auto;
}