table{
    width: 100%;
    border: 2px solid black;
    text-align: center;
}

table tr, table td{
    padding-left: 10px;
    border: 1px solid #bbbbbb;
}

table tr:first-child{
    font-size: 22px;
    background: grey;
    color: white;
    border: none !important;
}

.table-data:nth-child(odd){
    background: #AFEEEE;
}

table td{
    width: 3%;
}

.input input{
    text-align: center;
    width: 70%;
    border-radius: 8px;
}

.table-filters{
    background: grey;
}