<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
<div class="wrapper">
    <div class="wrapperForFooter">

        <div class="header featurebox col-md-12 col-sm-12 col-xs-12">
            <div class="row" align="center">

                <div class="name col-md-10 col-sm-10 col-xs-10">
                    <p class="mainText">Login page</p>
                </div>

                <div id="loginBlock" class="loginBlock col-md-2 col-sm-2 col-xs-2"></div>
            </div>
        </div>

        <div class="content">
            <div class="category">
                <p>Login as User</p>

                <form action="loginUser" method="POST">
                    <div>
                        <label>Login</label><br>
                        <input name="login"/><br>

                        <label>Password</label><br>
                        <input type="password" name="password"/><br>
                        <!--<p class="error">${message2}</p>-->

                        <div class="">
                            <input type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>

            <div class="category">
                <p>Login as Sensor</p>

                <form action="loginSensor" method="POST">
                    <div>
                        <label>Login</label><br>
                        <input name="login"/><br>

                        <label>Password</label><br>
                        <input type="password" name="password"/><br>
                        <!--<p class="error">${message2}</p>-->

                        <div class="">
                            <input type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <a class="textBack" href="/">Back</a>

        <div class="footer"></div>
    </div>
</div>
</body>
</html>