<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sensor page</title>

    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/sensorPage.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $(function(){
            $("#loginBlock").load("html/loginBlock.html");
        });
    </script>

</head>
<body>
<div class="wrapper">
    <div class="wrapperForFooter">

        <div class="header featurebox col-md-12 col-sm-12 col-xs-12">
            <div class="row" align="center">

                <div class="name col-md-10 col-sm-10 col-xs-10">
                    <p class="mainText">Welcome to the sensor page!</p>
                </div>

                <div class="loginBlock col-md-2 col-sm-2 col-xs-2">
                    <div id="loginBlock"></div>
                    <p class="greeting">{{#greeting}} {{.}} {{/greeting}}</p>
                </div>
            </div>
        </div>

        <div class="content">
            <form action="saveInput" method="post">

                {{#successMessage}}
                    <p class="success">{{.}}</p>
                {{/successMessage}}

                <table>
                    {{#errorMessages}}
                    <tr>
                        <td class="error">{{.}}</td>
                    </tr>
                    {{/errorMessages}}
                </table>
                <br/>

                <label>Coordinates (x;y)</label><br/>
                <label class="nameLabel">X</label><input name="x"/><br/>
                <label class="nameLabel">Y</label><input name="y"/><br/>

                <label>Temperature</label>
                <input name="temperature"/><br/>

                <input type="submit" value="Save point"/>
            </form>
        </div>

        <a class="textBack" href="/">Back</a>

        <div class="footer">
            <!--&copy; 2018-->
        </div>
    </div>
</div>
</body>
</html>